body,html{
    min-height:100%
}


p {font-family:serif;
}

body{
    background-image:url(img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Actor,sans-serif;
    
}


#form_wrapper{
    width:700px;
    height: 600px;
    margin: 0 auto;
    font-size: 20px;
    color: #666;
    
}

h2 {
    font-size: 35px;
    color: blueviolet;
}
header{
    background-color: darkgray;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px;
    padding-bottom: 30px;

}
.nav_menu{
    list-style: none;
    margin: 0;
    padding-top: 25px;
}

.nav_menu li{
    min-width: 8em;
    float: left;
    margin-right: 0.5cm;
    text-align: center;
}

.nav_menu li a:link,
.nav_menu li a:visited {
    background-color: aqua;
    display:block;
    padding:0.20em;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 0.2em 0;
    -webkit-border-radius: 3px;
    -moz=border-radius:3px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgba(43,43,77,0.5);
}

.nav_menu li a:hover{
    background-color: aquamarine;
    -webkit-transform:scale(2,2);
    transform: scale(2,2); 
}

 

.nav_menu a{
    display:block;
    width: 100px;
}


.clear {
    clear:both;
}

#leftDiv {
    background-color:blueviolet;
    float:left;
    width: 40%
    height: 300px;
    padding:10px;
    margin: 20px;
    box-shadow: 5px 5px 5px #888888;
    
}

#leftDiv img {
    max-height: 35%;
    max-width: 300px;
    float:right;
}
#rightDiv {
    background-color:blueviolet;
    float: right;
    width: 100px;
    height: px;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px;
}
#rightDiv img {
    max-height: 35%;
    max-width: 300px;
    float:right;
}
h1{
    text-align:center;
    color:forestgreen;
    margin: 30px 0 50px;
}

    
#float {
	color:black;
}